.add-todo {
    display: flex;
    height: 32px;
    justify-content: space-around;
    width: 100%;
}

.add-todo__input {
    flex-grow: 2;
}

.add-todo__button {
    background: rgb(0, 0, 8);
    color: #fff;
    flex-grow: 1;
    font-size: 1.5em;
}